#ddateBoxDiv{
    height:33% ;
    margin-top:2vh;
    }

    #reading{
        /* margin-top: 25%; */
        font-weight: bold;
        padding-left: 10%;
        /* margin:2vh 0 ;  */
        margin-bottom:3%;
        height:7% ; 
        margin-bottom: 1vh;
        font-size:1.1vw;
        
        /* background-color:#F1E9F9 ; */
        /* position:absolute ;
        bottom:32%;  */
    
    }


    
    #ddateBox p{
        /* text-align: left; */
        
       
        font-weight: bold ;
        width : fit-content;
        /* font-size:15px; */
        font-family: Arial, Helvetica, sans-serif;
        /* position: absolute; */
        width  : 100%;  
        padding: 2% 5%;
        text-transform: uppercase;
        background-color: white;
        
        
       
        
    }

    #ddateBox{
        /* background-color: yellow ; */
        width: 80%;
       
        /* margin-top:100px ;  */
        /* position:relative ;  */
        height:30%;
        height:90%;

        margin-top:1% ;
        margin-left: 10%;
        /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
        box-shadow: 10px 10px 10px rgba(17, 2, 2, 0.25);
        border-radius:12px;
        box-shadow : var(--box-shadow);
        /* position:absolute ; 
        bottom: 2%; */
        
        /* margin-left:60px; */
       /* top:5%; */
        
    }


    #yearAndMonth{
        /* height: fit-content; */
        /* margin-top: 0; */
        display: flex;
        height:10%;
        width:100% ; 
        /* background-color: red; */
    }

    #yearand{
        border-top-left-radius: 12px ;
        text-align: left;
        background-color: yellow;
        margin:0;
        font-size:1vw ; 
    }
    #andmonth{
        border-top-right-radius: 12px;
        text-align: right;
        background-color: aqua;
        margin:0;
        font-size: 1vw;
    }

    #bbookdate{
        display: grid ;
        justify-content: center;
        grid-template-columns: repeat( 7 , 10% );
        /* column-gap: 8px ;
        row-gap: 8px; */
        column-gap:3%;
        row-gap: 5%;
        /* width:400px  ;  */
        /* column-gap: 4%;
        column-gap:5%; */
        width:100%;
        /* padding:20px ;
        padding-top:5px;
        padding-bottom:5px; */
        background-color: white;
        /* background-color: yellow ; */
        /* border : 2px solid black; */
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        height:90%;
        padding-bottom: 5%;
        /* height:fit-content; */
        /* position : absolute ;
        top:50px  ; 
        left:60px ;  */
    }

    .wweekDay{
        text-align: center;
        width:80%;
        height:100%;
        font-weight: bold;
        padding: 0;
        font-size: 1.3vw;
    }

    .tooltip {
        position: relative;
       
       
      }
      
      .tooltip .tooltiptext {
        visibility: hidden;
        width: 150px;
        /* width:200px; */
        background-color: black;
        background: linear-gradient(0deg, #EEDDFF, #EEDDFF), linear-gradient(0deg, #EEDDFF, #EEDDFF), linear-gradient(0deg, #EEDDFF, #EEDDFF), #EEDDFF;
        color: #fff;
        color : black ; 
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        
        /* Position the tooltip */
        position: absolute;
        z-index: 1;
        bottom: 100%;
        left: 50%;
        /* margin-left: -60px; */
        margin-left: 10px;
      }
      
      .tooltip:hover .tooltiptext {
        visibility: visible;
      }

      .tooltiptext{
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 10px 10px 10px rgba(17, 2, 2, 0.25);
        box-shadow : var(--box-shadow);
        background-color: rgba(145, 83, 206, 0.56);
        background-color: var(----secondary-color);
      }
      .tooltiptext label{
        width:fit-content ; 
        font-size: 10px;
        
      }


      .elevate{
        /* background-color: rgba(145, 83, 206, 0.56) !important; */
        box-shadow: 10px 10px 10px rgba(17, 2, 2, 0.25);
        box-shadow : var(--box-shadow);
        /* background-color: blue ; */
        /* border : 2px solid red ;  */
        
    }
