
*{
    margin : 0  ;
    padding : 0  ;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

  
#box{
    display :  flex ; 
    /* flex-direction: column; */
}
#left{
    width : 80vw ; 
    height :100vh ;
    background-color: antiquewhite;
}
#messageRight{
    /* padding: 0vw 2vw; */
    /* padding-top:1vw; */

    width : 20vw ; 
    height : 100vh ;
    /* margin-top:1vh; */
    /* bottom:2vh; */
    background-color: rgba(145, 83, 206, 0.25);
    display : flex ; 
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    z-index:10;
    left:0;
    top:0;
    /* right:0.5vw; */
    /* left : 0 ; */
    z-index: 5;
    translate :-20vw;
    /* border-radius: 12px; */
}
#clockContainer{
position:absolute ; 
left:0;
z-index:5;
display: flex;
flex-direction: column;
align-items: center;
}
.first{
    width:80% ; 
    height  :18% ; 
    /* border : 2px solid black; */
    background-color: rgb(228, 228, 228);
    /* padding:10px;
    padding-top:20px; */
    margin-left: 10%;
    border-radius: 12px;
    display : none ;
    
}
.timerFirst{
    width:80% ; 
    height  :18% ; 
    /* border : 2px solid black; */
    background-color: rgb(228, 228, 228);
    /* padding:10px;
    padding-top:20px; */
    margin-left: 10%;
    border-radius: 12px;
    display: none ; 

}
#second{
    border-radius: 12px;
    width:80% ; 
    height : 60% ;
    /* border : 2px solid black; */
    background-color: rgb(228, 228, 228);
    position: relative;
    margin-left: 10%;
    /* border-radius: 12px; */
    
    /* padding:20px; */
}
#clock{
    height : 100% ; 
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
border-bottom-left-radius: 12px;
border-bottom-right-radius: 12px;
   
    /* border-radius : 12px; */
    /* display: flex;
    flex-direction: column-reverse; */
    /* border-radius: 1000px; */
}
.time{
    /* height:60% ;
    width  : 100% ;  */
    /* padding-top: 10px; */
    font-size:50px;
    text-align: center;
    /* margin-top:20px ;  */
    width:90%;
    height:fit-content ;
    padding-bottom:5px; 
    /* padding-top:5px ; */
    /* border-radius: 50%; */
    /* border : 5psx solid yellow; */
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    /* margin-top:10px; */
    border:0;
    outline:0;
    font-family: 'Orbitron', sans-serif;
      
    /* display: flex; */
}
#min{
    text-align: center;
    font-size:20px;
    /* padding-bottom: 10px; */
    height:fit-content;

}
.timer{
    padding-top: 10px;
    padding-left: 10px;
    font-weight: bold;
    /* text-align: center; */
    background-color: white;
    /* background-color: rgba(145, 83, 206, 0.25); */
    border-top-left-radius:12px ;
    border-top-right-radius: 12px;
}
#message{
    /* background-color: brown; */
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    width:100%;
    height  : 100% ;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color:white;
    display: flex;
    flex-direction: column;
    gap:10px;
    /* justify-content: center; */
    align-items: center;
    height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
    /* background-color: aqua; */
    
}
#iframePageNumber::placeholder{
    color : black;
    font-family: 'Inter';
font-style: normal;
/* font-weight: 700; */
font-size: 15px;
}

#messageContent::placeholder{
    color : black;
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 15px;
/* text-align: justify; */
position: absolute;
top: 4%;
left: 4%;
/* transform: translateY(-100%); */
}

.deleteIcon{
    position : absolute ; 
    z-index:5 ; 
    right:0;
    bottom:-15px;
    cursor : pointer ; 
}

.deleteIcon:hover{
    transform: scale(1.3);
}
/* svg:hover{
    transform: scale(1.3);
} */

.pageNumber{
    /* margin-bottom: 10px; */
    font-weight: bold;
    cursor: pointer;
}
.pageBody{
    
    /* padding:10px;
    padding-left: 25px; */
    font-weight: bold;
    padding:10px ; 
    width:100%;
    /* overflow-x: auto ; */
    text-wrap: wrap;
    word-wrap: break-word; 
  overflow-wrap: break-word
    /* width */
    /* margin-bottom: 2px; */
}
#notes{
    font-weight: bold;
}

#messageDiv{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes anm {
    0%{
        tranlate : 0 0 ;
    }
    100%{
        translate: 300px 0 ; 
        opacity:0;
        display:none;
    }
}
@keyframes anma {
    0%{
        translate: 300px 0 ; 
        opacity:0;
        display:block;
    }
    100%{
        tranlate : 0 0 ;
        opacity:1;

    }
}
.move{
    animation: anm  2s ease-in-out;
    animation-fill-mode: forwards;
}
.moveBack{
    animation: anma  2s ease-in-out;
    animation-fill-mode: forwards;
}
#icons{
    width:100%;
    display:flex ; 
    justify-content: space-evenly;
    /* background-color: red ; */
    margin-top:5%;
    height: 20%;

    
}
#icons svg{
    cursor : pointer ; 
}
/* #icons svg{
    background-color: red ; 
    color : white ;
} */

#showOptions{
    
    padding-top:50%;
    width:4vw;
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2%;
    background-color: rgba(145, 83, 206, 0.25);
    /* background-color: bisque; */
    /* margin-top:2%; */

    /* background-color: red; */
}

#showOptions a{
        width:70%;
    height:5%;
}
.svgContainer{
    display:flex ; 
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height:12%;
    width:70%;
    border-radius: 12px;
    

    /* padding:2px ;  */
    /* background-color: aqua; */
}
.svgContainerIcon{

    width:95%; 
    height:48%;
    padding:5px ;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    /* margin:4px 0 ;  */
}
.svgIcon{
    width:70%;
    height:5%;
    /* padding:10px; */
    padding:5px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.link {
width:100%;

height:100%;
}


.svgIcon svg{
    width:100%;
    height:100%;
}
.svgIcon:hover{
    transform: scale(1.1);
}
#innermessageRight{
    display:flex ; 
}

#innershowOptions{
    display : flex; 
    justify-content: space-evenly;
    width:100%;
}
#innershowOptions a{
    width:15%;
}
.innersvgIcon:hover{
    transform: scale(1.1);
}
.innersvgIcon{
    width:15%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.innerLink{
    width:100%;
    height:100%;
}

.innersvgIcon svg{
    width:50%;
    height:80%;
}

@keyframes leftClockMoving {
    0%{
        /* opacity:1 ;  */
        /* display:block; */
        translate: 0 ; 
    }
    100%{
        /* opacity:0 ;  */
        translate: -20vw ;
        /* display:none; */
    }
}

.movedClockLeft{
    animation : leftClockMoving 2s ease-in-out ;
    animation-fill-mode: forwards;
    
}



@keyframes rightClockMoving {
    0%{
        /* opacity:1 ;  */
        /* display:block; */
        translate: -20vw ; 
    }
    100%{
        /* opacity:0 ;  */
        translate: 0 ;
        /* display:none; */
    }
}

.movedClockRight{
    animation : rightClockMoving 2s ease-in-out ;
    animation-fill-mode: forwards;
    
}





@keyframes leftOptionsMoving {
    0%{
        /* opacity:1 ;  */
        /* display:block; */
        translate: 0 ; 
    }
    100%{
        /* opacity:0 ;  */
        translate: -4vw ;
        /* display:none; */
    }
}

.movedOptionsLeft{
    animation : leftOptionsMoving 2s ease-in-out ;
    animation-fill-mode: forwards;
    
}



@keyframes rightOptionsMoving {
    0%{
        /* opacity:1 ;  */
        /* display:block; */
        translate: -4vw ; 
    }
    100%{
        /* opacity:0 ;  */
        translate: 0 ;
        /* display:none; */
    }
}

.movedOptionsRight{
    animation : rightOptionsMoving 2s ease-in-out ;
    animation-fill-mode: forwards;
    
}

.innerIcon{
    background-color: white;
    color : black ; 
    margin:0 ; 
    padding:0 ; 
    height:fit-content;
}







input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
               -webkit-appearance: none;
                margin: 0;
        }
 
        input[type=number] {
            -moz-appearance: textfield;
        }



     

        .darkShadow{
    background-color: rgba(145, 83, 206, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}







#wrapper{
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding:10px ; 
    position: absolute;
    bottom: 0px;
    right:0px;
    width:100%;
    min-height:10vh;
    height:20%;
    z-index: 5 ;
    /* background-color: aqua; */
    background-color:white;

    display: flex;
    flex-direction: column-reverse;
   
}



#messageContent{
             
    background: rgba(145, 83, 206, 0.25);
    caret-color:  black; 
    color :black;
    /* padding: 5px; */
    border-radius: 12px;
    border :0;
    outline:0;
    text-wrap: wrap;
    width:100% ;
    height : 100% ;
    padding-top:1%;
    padding-left:4%;

    color : black;
    font-family: 'Inter';
font-style: normal;
font-weight: bold;
font-size: 15px;
resize : none ; 
/* position: absolute; */
/* position: absolute  ; 
bottom : 10px ; */


    /* position: relative;
    bottom: 0; */
    
}
#iframePageNumber{
   position: absolute;
   top:10px ; 
   left : 10px  ;  
   width: 92%  ; 
   border : 0 ; 
   outline : 0 ;
   /* border-bottom: 1px solid black ; */
   background: rgba(145, 83, 206, 0.25);
   padding:10px ; 
   border-radius: 0;
   border-top-right-radius: 12px;
   border-top-left-radius : 12px ; 
   height:20% ; 
   /* font-weight: 700; */
font-weight: 400;
}





.sendMessage{
    position:absolute ; 
    z-index:20;
    right:5%;
    /* bottom:-5%; */
    cursor: pointer;
    width:20px ; 
    height : 20px ; 

}


.messagesBody{
    background: rgba(203, 186, 220, 0.25);
    padding: 10px;
    width:95%;
    margin-bottom:4px;
    border-radius: 12px;
    position: relative;
}




.ttooltip {
    position: relative;
    /* display: inline-block; */
    /* border-bottom: 1px dotted black; */
  }
  .ttooltip:hover{
    transform: scale(1.1);
  }
  .ttooltip .ttooltiptext {
    visibility: hidden;
    /* visibility: visible; */
    text-wrap: nowrap;
    /* width: 120px; */
    /* padding:20px ;  */
    width : fit-content ; 
    /* color: white; */
    text-align: center;
    border-radius: 6px;
    padding: 5px ;
    position: absolute;
    z-index: 1;
    top: 10%;
    left: 140%;
    height: fit-content;
    background-color: white;
    background-color: black;

    color : black;
    color : white ; 
   
  }
  
  .ttooltip .ttooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black  transparent transparent;
  }
 
  .ttooltip:hover .ttooltiptext {
    visibility: visible;
  }
  



  .bottomtooltip {
    position: relative;
    /* border : 2px solid black ;  */
    
  }
  
  .bottomtooltip .bottomtooltiptext {
    visibility: hidden;
    /* visibility: visible; */
    width: 110px ;
    /* width: fit-content; */
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding:  5px ;
    position: absolute;
    z-index: 5;
    top: 125%;
    left: -70%;
    /* left : -70% ; 
    top: 100%;  */
    
    /* margin-left: -60px; */
  }
  
  .bottomtooltip .bottomtooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }

  .bottomtooltip:hover .bottomtooltiptext {
    visibility: visible;
  }

  .jumpToPage{
    width:80%;
    height:25px ; 
    border: 0 ; 
    border-bottom: 1px solid black ;
    
    outline:0 ;  
    /* background-color: ; */
    background-color:  rgba(145, 83, 206, 0.25);
    background-color: rgb(203 167 239);
    background-color: white;
    text-align: center;
    font-size: 20px;
    
    /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */


    /* background: rgba(145, 83, 206, 0.25); */
  }

  .jump{
    display : flex ; 
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    height : fit-content;
    padding:5px 0;
    
  }
  