#heading{
    /* margin-top:50px; */
    margin-top: 2vh ;
    width: 100%;
    display:flex;
    justify-content: space-between;
    /* padding:10px; */
    padding-bottom:0 ; 
    /* align-items: center; */
}
#heading p{
    font-weight:bolder ;
    font-size:20px;
}


#topBar{
    display:flex ; 
    width:30%;
    
    /* background-color: red; */
    

}
#topBar img{
/* width : 60px ; 
height : 60px ;  */
height : 8vh ;
width:18% ; 
/* padding-right: 10px; */
}
#topBar label{
    padding-left: 20px;
    width : 200px ; 
    height: 100%;
    font-size: 3vw;
    font-weight: 600;
    width:78%;
    font-family: "Griffy", 'Inter' , system-ui ;
     
    }


    #search{
   
        border : 0 ; 
        outline : 0 ; 
        /* background-color: red; */
        height:fit-content ;
        display:flex ; 
        justify-content: space-between;
        /* border-bottom:2px solid gray   ; */
        /* padding-left: 10px ;  */
        background-color: white;
        border-top-left-radius: 10px;
        border-bottom-left-radius:10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        width:50%;
        margin-right: 3%;
        background: #EEDDFF;
        /* padding-right: 10%; */
        
        /* width:100% ;  */
    }


    
#searchInput{
    height : 5vh;
    width :95% ;
    font-size: 20px ;
    border:0 ; 
    outline : 0 ; 
    background-color: white;
    background: #EEDDFF;
    /* background-color: red; */
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding:10px;
}

#font{
    font-size: 20px ;
    margin:auto;
    width:5%; 
}