#App{
   
}

.Toastify{
position: sticky ; 
top : 0 ; 
right : 0 ; 
z-index: 20;

}


.__floater__body button{
    color : black  !important; 
}
/* 

.react-joyride__overlay{
    width: 100vw !important ; 
    height:100vh !important ; 
    z-index : 100 !important;
} */
