
*{
    /* padding:0 ; 
    margin: 0;  */
    margin : 0 ;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: black; */
    /* overflow-x:hidden; */
    /* ba */
}


#bookBox{
    /* width:100vw; */
    height : 100vh;
    display: flex;
    width:100%;
    flex-direction: row-reverse;
    position:relative
    /* overflow-x: hidden; */
    /* flex-direction: column; */
}

#book-container{

    display : flex ; 
    /* justify-content: space-evenly; */
    /* flex-wrap : wrap ;  */
    /* gap:40px ;  */
    /* align-items: center; */
    
    /* justify-content: center; */
    
    width:100%;
    /* gap:70px; */
    margin-top:5vh;
    /* background-color: red ; */
    display : grid ;
    grid-template-columns: repeat( 5 , 18%) ;
    row-gap: 5vh;
    justify-content: space-around;
    
}
#textBook{
    padding-top:2vh;
    padding-bottom: 4vh;
    border-radius:12px ;
    display: flex;
    /* justify-content: space-evenly; */
    flex-direction: column;
    align-items: center;
    width : 100% ; 
    height:fit-content ; 
    /* overflow: hidden; */
    background: linear-gradient(0deg, #EEDDFF, #EEDDFF), linear-gradient(0deg, #EEDDFF, #EEDDFF), linear-gradient(0deg, #EEDDFF, #EEDDFF), #EEDDFF;
    box-shadow: 10px 10px 10px rgba(17, 2, 2, 0.25);
    /* margin:40px; */

    /* margin:auto ;  */
    /* margin:auto  ; */

}
#image{
    width : 60% ; 
    height : 180px ; 
    margin-right : 10px ; 
    /* border-radius: 12px; */

}

.canvasImage{
    width:100%;
    height: 100%;
}

.bookoptions{
    margin-top: 5px;
    display:flex; 
    justify-content: space-around;
}
.bookoptions a{

}
.bookoptions button{
  cursor: pointer;
}
.bookoptions img{
    width:30px ; 
height:30px;
}
.bookoptions a{
    width:35%;
}
.bookoptions button{
    
    background: rgba(145, 83, 206, 0.56);
border-radius: 10px;
width:100%;
border:0;
outline:0;
/* padding:5px 0; */
font-weight: bold;
height:90%;
/* height:50%; */
}

/* #content div{
    margin-top: 10px;
    display:flex ; 
    justify-content: center;
} */
#content{
    width:100%;
    /* height : 210px ;  */
   
}

.description{
    margin-top:10px ; 
    word-wrap: break-word;
   
    margin-left:10px ; 
    /* line-height:1.5; */
    color:rgb(65, 65, 65);
    max-height:36px ;
    overflow : hidden; 
    
}
.genre{
    width: 90%;
    max-height:40px;
    /* width: 70%; */
    padding:5px;
    margin:0 auto;
    color:black ; 
    background-color: rgb(224, 222, 222);
    border:0;
    outline:0;
    border-top-left-radius: 150px;
    border-bottom-left-radius:150px;
    border-top-right-radius: 150px;
    border-bottom-right-radius: 150px;
    word-wrap: break-word;
    /* margin-right:0; */
}
.title{
    margin-top:10px ; 
    font-size:20px ;
    /* word-spacing: 5px;  */
    word-wrap: break-word;
    font-weight: 600;
    height:45px ; 
    width:100%;
    overflow : hidden; 
    padding-left:10px ; 
    color:rgb(65, 65, 65)
}
#search{
   
    border : 0 ; 
    outline : 0 ; 
    /* background-color: red; */
    height:fit-content ;
    display:flex ; 
    justify-content: space-between;
    /* border-bottom:2px solid gray   ; */
    /* padding-left: 10px ;  */
    background-color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius:10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width:50%;
    margin-right: 3%;
    /* padding-right: 10%; */
    
    /* width:100% ;  */
}
#searchInput{
    height : 5vh;
    width :95% ;
    font-size: 20px ;
    border:0 ; 
    outline : 0 ; 
    background-color: white;
    /* background-color: red; */
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding:10px;
}
#font{
    font-size: 20px ;
    margin:auto;
    width:5%; 
}
#bookleft{
    width :20%;
    /* background-color: rgb(179, 117, 237); */
   /* background-color: gray; */
   /* background-color: rgb(224, 222, 222);
   background-color: #F1E9F9; */
   background-color: rgba(145, 83, 206, 0.25);

    position : fixed ; 
    top : 0 ; 
    left:0;
    height:100%;
    z-index: 3;
}
#uploading{
    width:100%;
    display:flex;
    justify-content: space-between;
    padding: 10px 50px;
    padding-right: 100px;
    margin-top:2vh;
    /* margin-top:50px; */
} 
#uploadingLeft{
    display: flex;
    align-items: center;
    justify-content: center;
    width:15%;

}
#uploadingLeft svg{
    /* width:40px ; 
    height:40px; */
    width: 50px;
height: 42px;
}
#uploadingLeft label{
    /* height : 100%; */
    /* font-weight: bold; */
   
width:fit-content;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;
height: 52px;
display: flex;
align-items: center;


    
}
#addBook{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:4vh;
}
#addBook p{
    font-weight: bold;
}
#done{
    /* width:150px; */
 
   
    color : black ;
    border : 0 ; 
    width:22%;
    height:8vh ; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 29px;

background: rgba(145, 83, 206, 0.56);
border-radius: 10px;
}

.categoryOptions{
    width:35%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.categoryOptions button{
    background: rgba(145, 83, 206, 0.56);
    color: black;
    border: 0;
    padding:10px ; 
    border-radius: 10px;
    font-weight: 600;
    width:22%;
    cursor: pointer;

}
#topBar{
    display:flex ; 
    
    /* background-color: red; */
    

}
#topBar img{
width : 40px ; 
height : 30px ; 
/* padding-right: 10px; */
}
#topBar label{
    padding-left: 20px;
    width : 200px ; 
    height:30px;
    font-size: 30px;
    font-weight: 600;
     
    }
#right{
     /* background-color: #f0f2f5; */
     /* background-color: #f2f3f5; */
     /* background: #F1E9F9; */
     background: #FFFFFF;
    min-height: 100vh;
     width:80% ; 
     height : fit-content;
     display: flex;
     flex-direction: column;
     align-items: center ;
     margin-right:0;
     padding-left:1%;
     position:absolute ; 
     right : 0 ; 
     padding-bottom:4vh;
     /* position: absolute;
     top:0 ; 
     right : 0 ;  */
}
#bookTitle p{
    color : white ;
    /* margin-top: 50px ; */
    font-size:15px ; 
    font-weight: bolder ;
    /* margin-top: 0; */
    /* justify-content: center; */
    /* padding: 5px ; */

    
}
#bookTitle{
    display: flex ;
    margin-top: 50px;
    justify-content: center ;
    align-items: center; 
    gap : 10px ; 
}
#bookTitle i{
    font-size: 35px ;
    color : white  ; 
}

 

#option{
    margin-top: 50px ;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input[type='checkbox'] {
    display: none;
}

#yearand{
    border-top-left-radius: 12px ;
    text-align: left;
    background-color: yellow;
    margin:0;
}
#andmonth{
    border-top-right-radius: 12px;
    text-align: right;
    background-color: aqua;
    margin:0;
}
.wweekDay{
    text-align: center;
    width:80%;
    height:100%;
    font-weight: bold;
    padding: 0;
}
.checkbox-custom {

    font-size:8px;
    width: 80%;
    height:100%;
    padding:2px;
    border-radius: 5px;
    /* background-color: #e3be9b; */
    background-color: #F1E9F9;
    color:black;
    font-weight: bold;
    text-align: left;
    /* font-weight: bold; */
    /* cursor: pointer; */
    display: inline-block;
    position: relative;
}

.checkbox-custom::before {
    content: "";
    display: block;
    width: 30%;
    height: 10%;
    /* border: 2px solid #fff; */
    border: 1px solid black ; 
    /* size:20px ; */
    border-top: none;
    border-right: none;
    position: absolute;
    top: 4px;
    left: 5px;
    transform: translate(15%, 40%) rotate(-60deg);
    scale: 2.7;
    opacity : 0 ; 
}

input[type='checkbox']:checked + .checkbox-custom::before {
    opacity: 1;
    font-size:25px;
}
#reading{
    /* margin-top: 25%; */
    font-weight: bold;
    padding-left: 10%;
    position:absolute ;
    bottom:32%; 
}

    #ddateBox{
        /* background-color: yellow ; */
        width: 80%;
       
        /* margin-top:100px ;  */
        /* position:relative ;  */
        height:30%;

        margin-top:1% ;
        margin-left: 10%;
        /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
        box-shadow: 10px 10px 10px rgba(17, 2, 2, 0.25);
        border-radius:12px;
        position:absolute ; 
        bottom: 2%;
        
        /* margin-left:60px; */
       /* top:5%; */
        
    }
    #yearAndMonth{
        /* height: fit-content; */
        /* margin-top: 0; */
        display: flex;
        height:10%;
        /* background-color: red; */
    }
    #bbookdate{
        display: grid ;
        justify-content: center;
        grid-template-columns: repeat( 7 , 10% );
        /* column-gap: 8px ;
        row-gap: 8px; */
        column-gap:3%;
        row-gap: 5%;
        /* width:400px  ;  */
        /* column-gap: 4%;
        column-gap:5%; */
        width:100%;
        /* padding:20px ;
        padding-top:5px;
        padding-bottom:5px; */
        background-color: white;
        /* background-color: yellow ; */
        /* border : 2px solid black; */
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        height:90%;
        padding-bottom: 10%;
        /* height:fit-content; */
        /* position : absolute ;
        top:50px  ; 
        left:60px ;  */
    }
    #ddateBox p{
        /* text-align: left; */
        
       
        font-weight: bold ;
        width : fit-content;
        font-size:15px;
        font-family: Arial, Helvetica, sans-serif;
        /* position: absolute; */
        width  : 100%;  
        padding: 2% 5%;
        text-transform: uppercase;
        background-color: white;
        
        
       
        
    }
    #circle{
        
        width:40px ; 
        height : 40px ; 
        background-color: black;
        border-radius:50%;
        
    }
    #name{
        width:85%;
        margin-left:5%;
        margin-top:3%;
        display : flex ;
        /* align-items: center; */
        justify-content: space-between;
        gap:10px;
        background-color: white;
        border-radius: 12px;
        /* padding:5px; */


        
    }
    #greeting{
        /* font-size:15px; */
        font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 29px;
    }
    #userName{
        /* width:60%; */
        font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 29px;
        /* margin-top:5px; */
        /* text-wrap: wrap; */
    }
    #welcome{
        width:80%;
        display: flex ;
        flex-direction: column;
    }
    #bookRead{
        margin-top: 10% ; 
        margin-left:10%;
        height: 40%;
    }
    #bookName{          
        font-size:20px;
        font-weight: bold;
        height:8%;
        overflow:hidden;
    }
    #author{
        
        font-size:20px;
        font-weight: bold;
        height:8%;
        overflow:hidden;

    }
    #bookLink{
        margin-top: 5px;
        margin-left:10px;
        width:80%;
        height:80%;
        background-color: white;
        display: flex;
        flex-direction: row-reverse;
        padding:10px;
        /* padding: 0cap; */
    }
    #bookView{
        margin-top:4%;
        height:80%;
        width:100%;
        display : flex ; 
        justify-content: center;
        
        /* background-color: blue; */
        /* margin:auto 5px; */

    }
    #bookView div{
        width:60%;
        padding:10px ; 
        background-color: white ;
        border-radius: 12px;
        box-shadow: 10px 10px 10px rgba(17, 2, 2, 0.25);
        
    }
    .firstViewCanvas{
        width:100%;
        height:100%;
        border:1px solid black;
    }
    #read{
        margin-top: 5%;
        margin-left:5%;
        
        padding:15px 5px 5px;
        color:black ; 
        background: rgba(145, 83, 206, 0.56);
        width: fit-content;
        width:90%;
        height:fit-content;
        font-weight: bold;

    }
    #read a{
        color : black ; 
        text-decoration: none;
    }
    #heading{
        /* margin-top:50px; */
        width: 100%;
        display:flex;
        justify-content: space-between;
        padding:10px;
        align-items: center;
    }
    #heading p{
        font-weight:bolder ;
        font-size:20px;
    }
    #threeBooks{
        margin-top:5vh;
        width:100%;
        height:30vh;
        /* background-color: red; */
        
        display: flex;
        justify-content: space-between;
        
    }
   
    .theBook{
        margin-top:80px;
        width:48%;
        height:170px;
        background-color: rgb(186, 186, 250);
        position: relative;
        border-radius: 25px;

    }
    .theBook div{
        top:50px;
        position: absolute;
        right:0;
        width:50%;
        /* margin-right: 0; */
    }
    .theBook p{
        /* padding-left: 10px;; */
        text-wrap:wrap;
        max-height:40px;
        overflow:hidden;
        font-weight: 700;
    }
      .bookImage{
        width:150px;
        height:200px;
        border-radius: 12px;
        position: absolute;
        bottom:30px;
        left:50px;
    }
    .theSecond{
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    #bookLast{
        margin-top:30px;
        text-align: left;
        width: 100%;
        font-weight: 700;
    }


   

    .frequent{
        width:30%;
        height: 100%;
        background-color: aqua;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background: linear-gradient(0deg, #EEDDFF, #EEDDFF), linear-gradient(0deg, #EEDDFF, #EEDDFF), linear-gradient(0deg, #EEDDFF, #EEDDFF), #EEDDFF;
        box-shadow: 10px 10px 10px rgba(17, 2, 2, 0.25);
        border-radius: 20px;
    }
    .recentViewCanvas{
        width : 40%  ;
        height : 85%;
    }
    .recentCanvas{
        width:100%;
        height:100%;
    }
    .descriptionBook{
        width : 40%  ;
        height : 85%;
        /* background-color: red; */
        border-radius: 12px;
        display : flex ; 
        flex-direction: column;
        background-color: #FFFFFF;
        position: relative;
        /* align-items: center; */
    }
    .getBookName{
        margin-top: 5%;
        margin-left: 5%;
        font-size: 20px;
        max-height:40%;
        width:90%;
        font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
/* line-height: 24px; */
text-align: center;

color: #000000;
overflow: hidden;
    }
    .getBookAuthor{
        width:90%;
        margin-left: 5%;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
/* line-height: 18px; */
text-align: center;
max-height:20%;

color: #524F4F;
overflow: hidden;

    }

.getBookCategory{
    height: 10%;
    width: fit-content;
    max-width:80%;

   
    overflow: hidden;
    background: #EEDDFF;
border-radius: 10px;
border : 0 ; 
outline:0;
padding:5px;
/* padding-bottom:2px; */
font-size: 10px;
margin-left: 10%;
margin-top:2%;
}
    /* .frequent label{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        width:87%;
        height:50%;
        margin-top: 10%;
        overflow: hidden;

    } */
    
/* 
    .options{
        width:100%;
        margin-top:5%;
    } */

    .options{
        display: flex;
        justify-content: space-evenly ;
        align-items: center; 
        gap : 10px ; 
        color : white ;
        /* width:100%;
        margin-top:5%; */
        height:10%;
        width:100%;
       
        position: absolute;
        bottom:5%;
    
        /* margin-top: 5%; */
    }

/* .options img{
width:30px ; 
height:30px;
} */
.trash{
    width:25px ; 
height: 23px;
color : black ; 
cursor : pointer ; 
}

.options a{
    width:50%;
}
.options button{
    padding : 5px ; 
    background: rgba(145, 83, 206, 0.56);
border-radius: 10px;
width:100%;
border:0;
outline:0;
/* padding:5px 0; */
font-weight: bold;
height:90%;
cursor: pointer;
/* height:50%; */
}
#threeCircle{
    /* margin-top:5%; */
    /* margin-top:2vh; */
    height:2vh;
    width:10%;
    background-color: aqua;
}

.progress{
    /* margin-top:25%; */
    height : 2% ; 
    /* background-color: rgb(199, 199, 100); */
    width : 75%;
    border-radius: 15px;
    border:0;
    /* background-color: black; */
    position:relative ; 
    margin-left: 5%;
    display : flex ; 
    /* margin-top:5%; */
    position: absolute;
    bottom:20%;
}

.progress1{
    position: absolute; 
    top:0; 
    left:0; 
    width:50%;
    /* height:2%; */
    height:100%;
    background-color: green;
    border-radius: 15px;
    z-index: 5;
}
.progress2{
    border-radius: 15px;
     position: absolute; 
    top:0; 
    left:0; 
    background-color: rgb(192, 192, 88); 
    width: 100%;
    height:100%;
}
.progress label{
    position:absolute;
    left:100%;
    /* top:20px; */
    /* top:-100% ;  */
    /* top:-100% ;  */
    /* bottom:0 ;  */
    /* font-size:10px; */
    /* bottom:-10%; */
    /* top:-550%; */
    top:-100%;
    font-size: 10px;
    width:fit-content ; 
    
    height:fit-content ; 
}

.tooltip {
    position: relative;
   
   
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 150px;
    /* width:200px; */
    background-color: black;
    background: linear-gradient(0deg, #EEDDFF, #EEDDFF), linear-gradient(0deg, #EEDDFF, #EEDDFF), linear-gradient(0deg, #EEDDFF, #EEDDFF), #EEDDFF;
    color: #fff;
    color : black ; 
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    /* margin-left: -60px; */
    margin-left: 10px;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .tooltiptext{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .tooltiptext label{
    width:fit-content ; 
    font-size: 10px;
  }

  .checkbox-custom:hover{
    background: rgba(145, 83, 206, 0.56);
    border: 1px solid #000000;
  }