#p1box{
    /* display : absolute ;  */
    width: 300px  ; 
    height : fit-content ; 
    background-color: rgb(241, 98, 98) ;
    color : white;
    padding :20px ; 
    /* padding-bottom: 20px; */
    position: absolute;
    top:0; bottom:0;left:0;right:0;
    margin: auto ;
    border-radius: 10px;
    z-index: 5;


}
#p1p{
    font-size: 30px ; 
    word-wrap: break-word;
    text-align: center;
}
#p1dec{
    display: flex ; 
    justify-content: space-around;
    margin-top : 20px ;
    
}
#p1dec button{
    width:40%;
    height : 30px;
    border-radius: 12px;
    border : 0 ; 
    
}