#bbox{
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: fit-content;
    margin: auto;
    /* border: 2px solid black; */
    right: 0;
    bottom: 0;
    /* box-shadow: ; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    box-shadow : var(--box-shadow);
    /* display : flex ;  */
    padding:10px;

}

#fform{
    width: 100% ; 
   
    padding-left: 5px;
    border-radius: 12px ; ;
    margin:auto 0 ;
}
label{
    display:inline-block  ;
    width : 35% ; 
    font-size: 20px ;
}
.iinpt{
    width:60% ; 
    margin: 5px ; 
    outline : none ; 
    border-color: gray;
    outline: none;
    border: 1px solid gray;
    border-radius: 5px;
    height: 25px;
}
#fform p{
    font-family: Arial, Helvetica, sans-serif;
    text-align : center ; 
    font-size: 25px;
    margin-top:20px;
    padding-bottom:10px ; 
    /* margin: 0; */
}
#fform input{
    font-size :20px ; 
}
#fform div{
    margin-top:10px;
    display : flex ; 
    align-items: center;
    justify-content: center;
}
/* form p{
    margin-top : 0 ;
    text-align: center;
    margin-bottom: 25px ;
    position: relative;
    bottom:0 ; 
} */
#bbtn{
    display : block ; 
    margin-top:20px ; 
    margin-left: auto ;
    margin-right: auto;
    padding:10px ; 
    border-radius: 12px ; 
    outline:  none;
    border-width: 1px ;
    width:80% ; 
    justify-content: center ;
    background-color: #1877f2;
    color:white;
    font-size: 22px ; 


}
#bbtn:active{
    translate : 0 5px ; 
}
#account{
    
    margin-top: 20px ; 
    font-size: 20px ;
}
a{
    color: #1877f2 ; 
    text-decoration: none; 
}
#title{
    margin: 0;
    margin-top: 60px;
    font-size: 60px;
    color: rgb(62, 146, 241);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}
body{
    background-color: #f0f2f5;
}
