#outerMain{
    

}
#box{
    /* position: absolute; */
    position : absolute ; 
    top: 0;
    height: fit-content;
    left: 0;
    right: 0;
    bottom: 0;
    width: fit-content;
       /* height: 50%; */
    margin: auto;
    /* border: 2px solid black; */
    
    /* box-shadow: ; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   
    display : flex ; 

}
#innerBox {
    width : fit-content ; 
    display: flex;
    height: fit-content;
    
} 
#signupImage{
    width : 400px;  
    height :400px;
}

.entry{
    display:flex ; 
    justify-content: space-around;
    align-items: center;
    margin-top:10px;
}
#form{
    width: 500px  ; 
    /* padding-top: 20px ; ; */
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 12px ; 
    /* display: flex; */
    /* flex-direction: column;
    gap:20px; */
    /* height : 100%; */
    /* margin:auto 0 ; */
}
#entry label{
    /* margin-top:10px; */
    display:inline-block  ;
    width : 30% ; 
    font-size: 20px ;
}
#mail{
    margin-top:20px ; 
}
.inpt{
    font-size:20px;
    width:60% ; 
    margin: 5px ; 
    outline : none ; 
    border-color: gray;
    outline: none;
    border: 1px solid gray;
    border-radius: 5px;
    height: 25px;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align : center ; 
    margin-bottom: 0;
}
#form h1{
    margin-top: 40px;
}
#quick{
    margin-top : 10px ;

    padding-bottom:10px ;
    border-bottom: 1px solid gray  ;

    /* border-bottom : 2px solid red ; */
    text-align: center;
    /* margin-bottom: 25px ; */
    
}
#btn{
    display : block ; 
    margin-top:20px ; 
    margin-left: auto ;
    margin-right: auto;
    padding:10px ; 
    border-radius: 12px ; 
    outline:  none;
    border-width: 1px ;
    width:35% ; 
    justify-content: center ;
    background-color: #00a400;
    color:white;
    font-size: 22px ; 

}
#btn:active{
    translate : 0 10px;
}
#account{
    margin-top: 20px ; 
    font-size: 20px ;
    text-align:  center ;
}
a{
    color: #1877f2 ; 
    text-decoration: none; 
}
#title{
    margin: 0;
    margin-top: 60px;
    font-size: 60px;
    color: rgb(62, 146, 241);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width : 60%;
    margin:auto;

}

