
#box{
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 50%;
    margin: auto;
    /* border: 2px solid black; */
    right: 0;
    bottom: 0;
    /* box-shadow: ; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display : flex ; 

}
#box div{
    width : 100% ; 
    /* display: flex; */
    
} 
img{
    width : 50%  ; 
    height : 100% ;
} 
#form{
    width: 50% ; 
    padding-top: 20px ; ;
    padding-left: 5px;
    border-radius: 12px ; ;
    margin:auto 0 ;
}
label{
    display:inline-block  ;
    width : 30% ; 
    font-size: 20px ;
}
.inpt{
    width:60% ; 
    margin: 5px ; 
    outline : none ; 
    border-color: gray;
    outline: none;
    border: 1px solid gray;
    border-radius: 5px;
    height: 25px;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align : center ; 
    margin-bottom: 0;
}
form p{
    margin-top : 0 ;
    text-align: center;
    margin-bottom: 25px ;
    position: relative;
    bottom:0 ; 
}
#btn{
    display : block ; 
    margin-top:10px ; 
    margin-left: auto ;
    margin-right: auto;
    padding:10px ; 
    border-radius: 12px ; 
    outline:  none;
    border-width: 1px ;
    width:35% ; 
    justify-content: center ;
    background-color: #00a400;
    color:white;
    font-size: 22px ; 

}
#account{
    margin-top: 20px ; 
    font-size: 20px ;
}
a{
    color: #1877f2 ; 
    text-decoration: none; 
}
#title{
    margin: 0;
    margin-top: 60px;
    font-size: 60px;
    color: rgb(62, 146, 241);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}
body{
    background-color: #f0f2f5;
}

